{% extends 'base.html.twig' %}

{% block title %}Détails de l'aéroport{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Aéroport : {{ aeroport.nom }}</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td>{{ aeroport.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Nom</th>
                        <td>{{ aeroport.nom }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Ville</th>
                        <td>{{ aeroport.ville }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Pays</th>
                        <td>{{ aeroport.pays }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between mt-4">
                <a href="{{ path('app_aeroport_index') }}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Retour à la liste
                </a>

                <div>
                    <a href="{{ path('app_aeroport_edit', {'id': aeroport.id}) }}" class="btn btn-warning me-2">
                        <i class="bi bi-pencil"></i> Modifier
                    </a>

                    {{ include('aeroport/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
