{% extends 'base.html.twig' %}

{% block title %}Réserver un vol{% endblock %}

{% block body %}
    <h1>Formulaire de réservation</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_widget(form) }} {# Ceci génère tous les champs du formulaire automatiquement #}
        <button class="btn btn-success">Confirmer la réservation</button>
    {{ form_end(form) }}

    <a href="{{ path('app_vol_index') }}" class="btn btn-secondary mt-3">Retour aux vols</a>
{% endblock %}
