{% extends 'base.html.twig' %}
{% block title %}
  Accueil Passager
{% endblock %}
{% block body %}
<style>
body {
  padding-top: 80px; /* Ajustez selon la hauteur de votre navbar */
}
</style>
  <!-- ===============================================-->
  <!--    Contenu Principal-->
  <!-- ===============================================-->
 {% include 'navbar/navbarAgence.html.twig' %}
    <section class="mt-7 py-0">
      <div class="bg-holder w-50 bg-right d-none d-lg-block" style="background-image:url('{{ asset('deseign1/img/gallery/hero-section-1.png') }}');"></div>
      <!--/.bg-holder-->
      <div class="container">
        <div class="row">
          <div class="col-lg-6 py-5 py-xl-5 py-xxl-7">
            <h1 class="display-3 text-1000 fw-normal">
              Partons en voyage
            </h1>
            <h1 class="display-3 text-primary fw-bold">
              Découvrez la beauté
            </h1>
          <div class="pt-5">
              <nav>
                <div class="nav nav-tabs voyage-tabs" id="nav-tab" role="tablist">
                  
                </div>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <form class="row g-4 mt-5">
                      <div class="col-sm-6 col-md-6 col-xl-5">
                        
                          <span class="nav-link-icon text-800 fs--1 input-box-icon">
                          </span>
                        </div>
                      </div>
                  
 
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 overflow-hidden">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 px-0">
            <img class="img-fluid order-md-0 mb-4 h-100 fit-cover" src="{{ asset('deseign1/img/gallery/hero-section-2.png') }}" alt="..." />
          </div>
          
        </div>
      </div>
    <!-- end of .container-->
    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->
    <section id="testimonial">
      <div class="container">
        <div class="row h-100">
          <div class="col-lg-7 mx-auto text-center mb-6">
            <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">
              Offres Flash
            </h5>
          </div>
          <div class="col-12">
            <div class="carousel slide" id="carouselTestimonials" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <div class="row h-100 align-items-center g-2">
                    <div class="col-md-4 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white">
                        <img class="img-fluid h-100" src="{{ asset('deseign1/img/gallery/maldives.png') }}" alt="..." />
                        <div class="card-img-overlay ps-0">
                          <span class="badge bg-primary ms-3 me-1 p-2">
                            <i class="fas fa-clock me-1"></i>
                            <span>
                              20:04:32:21
                            </span>
                          </span>
                          <span class="badge bg-secondary p-2">
                            <i class="fas fa-bolt me-1"></i>
                            <span>
                              tendance
                            </span>
                            <i class="fas fa-bolt ms-1"></i>
                          </span>
                        </div>
                        <div class="card-body ps-0">
                          <h5 class="fw-bold text-1000 mb-4 text-truncate">
                            Mermaid Beach Resort : La façon la plus joyeuse de passer vos vacances
                          </h5>
                          <div class="d-flex align-items-center justify-content-start">
                            <span class="text-800 fs--1 me-2">
                              <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span class="text-900 me-3">
                              Maldives
                            </span>
                            <span class="text-800 fs--1 me-2">
                              <i class="fas fa-calendar"></i>
                            </span>
                            <span class="text-900">
                              4 jours
                            </span>
                          </div>
                          <p class="text-decoration-line-through text-900 mt-3 mb-0">
                            200€
                          </p>
                          <h1 class="mb-3 text-primary fw-bolder fs-4">
                            <span>
                              175€
                            </span>
                            <span class="text-900 fs--1 fw-normal">
                              /Par personne
                            </span>
                          </h1>
                          <span class="badge bg-soft-secondary p-2">
                            <i class="fas fa-tag text-secondary fs--1 me-1"></i>
                            <span class="text-secondary fw-normal fs-1">
                              -15%
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white">
                        <img class="img-fluid h-100" src="{{ asset('deseign1/img/gallery/cinnamon.png') }}" alt="..." />
                        <div class="card-img-overlay ps-0">
                          <span class="badge bg-primary ms-3 me-1 p-2">
                            <i class="fas fa-clock me-1"></i>
                            <span>
                              20:04:32:21
                            </span>
                          </span>
                          <span class="badge bg-secondary p-2">
                            <i class="fas fa-bolt me-1"></i>
                            <span>
                              tendance
                            </span>
                            <i class="fas fa-bolt ms-1"></i>
                          </span>
                        </div>
                        <div class="card-body ps-0">
                          <h5 class="fw-bold text-1000 mb-4 text-truncate">
                            Bora Bora : Profitez d'une croisière romantique du côté ensoleillé de la vie
                          </h5>
                          <div class="d-flex align-items-center justify-content-start">
                            <span class="text-800 fs--1 me-2">
                              <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span class="text-900 me-3">
                              Maldives
                            </span>
                            <span class="text-800 fs--1 me-2">
                              <i class="fas fa-calendar"></i>
                            </span>
                            <span class="text-900">
                              4 jours
                            </span>
                          </div>
                          <p class="text-decoration-line-through text-900 mt-3 mb-0">
                            300€
                          </p>
                          <h1 class="mb-3 text-primary fw-bolder fs-4">
                            <span>
                              250€
                            </span>
                            <span class="text-900 fs--1 fw-normal">
                              /Par personne
                            </span>
                          </h1>
                          <span class="badge bg-soft-secondary p-2">
                            <i class="fas fa-tag text-secondary fs--1 me-1"></i>
                            <span class="text-secondary fw-normal fs-1">
                              -15%
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0 h-100">
                      <div class="card card-span h-100 text-white">
                        <img class="img-fluid h-100" src="{{ asset('deseign1/img/gallery/dhigu.png') }}" alt="..." />
                        <div class="card-img-overlay ps-0">
                          <span class="badge bg-primary ms-3 me-1 p-2">
                            <i class="fas fa-clock me-1"></i>
                            <span>
                              20:04:32:21
                            </span>
                          </span>
                          <span class="badge bg-secondary p-2">
                            <i class="fas fa-bolt me-1"></i>
                            <span>
                              tendance
                            </span>
                            <i class="fas fa-bolt ms-1"></i>
                          </span>
                        </div>
                        <div class="card-body ps-0">
                          <h5 class="fw-bold text-1000 mb-4 text-truncate">
                            Fihalhohi Island Resort : Destination de luxe sans compromis
                          </h5>
                          <div class="d-flex align-items-center justify-content-start">
                            <span class="text-800 fs--1 me-2">
                              <i class="fas fa-map-marker-alt"></i>
                            </span>
                            <span class="text-900 me-3">
                              Maldives
                            </span>
                            <span class="text-800 fs--1 me-2">
                              <i class="fas fa-calendar"></i>
                            </span>
                            <span class="text-900">
                              4 jours
                            </span>
                          </div>
                          <p class="text-decoration-line-through text-900 mt-3 mb-0">
                            375€
                          </p>
                          <h1 class="mb-3 text-primary fw-bolder fs-4">
                            <span>
                              300€
                            </span>
                            <span class="text-900 fs--1 fw-normal">
                              /Par personne
                            </span>
                          </h1>
                          <span class="badge bg-soft-secondary p-2">
                            <i class="fas fa-tag text-secondary fs--1 me-1"></i>
                            <span class="text-secondary fw-normal fs-1">
                              -15%
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Les autres carousel-items ont été conservés mais non traduits pour gagner de l'espace -->
              </div>
              <div class="row">
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">
                    Précédent
                  </span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselTestimonials" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">
                    Suivant
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-7 overflow-hidden" id="places">
      <div class="container bg-offcanvas-gray-right">
        <div class="row gx-2 mb-2">
          <div class="col-12 col-md-12 col-lg-4">
            <div class="bg-primary-gradient bg-offcanvas h-100">
              <div class="row g-0 justify-content-end">
                <div class="col-12">
                  <div class="p-6 py-md-5 px-md-3 py-lg-8 text-light">
                    <img class="mb-5" src="{{ asset('deseign1/img/icons/icon-location.svg') }}" alt="..." />
                    <h2 class="mb-2 text-light">
                      Lieux populaires
                    </h2>
                    <p>
                      Profitez des avantages de nos forfaits vers les
                      <br class="d-none d-lg-block" />
                      sites où nos visiteurs s'amusent le plus.
                      <br class="d-none d-lg-block" />
                      Bien organisés avec des coûts réduits.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card card-span h-100 text-white">
              <img class="img-fluid h-100 w-100" src="{{ asset('deseign1/img/gallery/agra.png') }}" height="375" alt="..." />
              <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                <div class="mt-auto px-4 mb-1">
                  <h3 class="fs-1 fs-md-2 text-white">
                    Agra
                  </h3>
                  <span class="text-light fs--1 me-1">
                    <i class="fas fa-gift"></i>
                  </span>
                  <span class="text-light me-3">
                    10 Forfaits
                  </span>
                </div>
              </div>
              <a class="stretched-link" href="#!"></a>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="card card-span h-100 text-white">
              <img class="img-fluid h-100 w-100" src="{{ asset('deseign1/img/gallery/kualalumpur.png') }}" height="375" alt="..." />
              <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                <div class="mt-auto px-4 mb-1">
                  <h3 class="fs-1 fs-md-2 text-white">
                    Kuala Lumpur
                  </h3>
                  <span class="text-light fs--1 me-1">
                    <i class="fas fa-gift"></i>
                  </span>
                  <span class="text-light me-3">
                    10 Forfaits
                  </span>
                </div>
              </div>
              <a class="stretched-link" href="#!"></a>
            </div>
          </div>
        </div>
        <!-- Les autres sections ont été conservées mais non traduites pour gagner de l'espace -->
      </div>
    </section>
    <section class="py-0 my-7">
      <div class="bg-holder w-50 bg-left  d-none d-lg-block" style="background-image:url(deseign1/img/gallery/sharee.png);background-position:top;"></div>
      <!--/.bg-holder-->
      <div class="container">
        <div class="row g-0">
          <div class="col-lg-4 order-1 order-lg-0"></div>
          <div class="col-lg-8 bg-white">
            <div class="carousel slide" id="carouselShare" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <div class="row h-100">
                    <div class="col-12">
                      <img class="w-100" src="{{ asset('deseign1/img/gallery/dubai.png') }}" height="600" alt="..." />
                      <div class="pt-5 ps-sm-7">
                        <h4 class="mb-2 text-1000">
                          Partagez un voyage
                        </h4>
                        <h2 class="mb-3 text-primary fs-3 fs-md-6">
                          Dubaï
                        </h2>
                        <p class="fw-normal mb-0">
                          Dubaï, une ville aux multiples visages, est l'une des destinations touristiques les plus populaires au monde. Le Burj Khalifa, la plus haute tour du monde, se trouve ici. La beauté futuriste des nouveaux bâtiments est au cœur du tourisme à Dubaï.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Les autres carousel-items ont été conservés mais non traduits pour gagner de l'espace -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="col-6 col-sm-4 col-lg-6">
            <div class="py-7">
              <img class="d-inline-block" src="{{ asset('deseign1/img/gallery/logo.png') }}" width="50" alt="logo" />
              <span class="fw-bold fs-4 text-primary ms-2">
                voyage
              </span>
              <ul class="list-unstyled mt-4">
                <li class="mb-2">
                  <a class="text-800 fw-bold text-decoration-none" href="#!">
                    Actualités
                  </a>
                </li>
                <li class="mb-2">
                  <a class="text-800 fw-bold text-decoration-none" href="#!">
                    Conditions générales
                  </a>
                </li>
                <li class="mb-2">
                  <a class="text-800 fw-bold text-decoration-none" href="#!">
                    Confidentialité
                  </a>
                </li>
                <li class="mb-2">
                  <a class="text-800 fw-bold text-decoration-none" href="#!">
                    À propos
                  </a>
                </li>
                <li class="mb-2">
                  <a class="text-800 fw-bold text-decoration-none" href="#!">
                    FAQ
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-8 col-lg-6 bg-primary-gradient bg-offcanvas-right">
            <div class="p-3 py-7 p-md-7">
              <p class="text-light">
                <i class="fas fa-phone-alt me-3"></i>
                <span class="text-light">
                  +216 55 555 555
                </span>
              </p>
              <p class="text-light">
                <i class="fas fa-envelope me-3"></i>
                <span class="text-light">
                  benmansourfiras17@gmail.com
                </span>
              </p>
              <p class="text-light">
                <i class="fas fa-map-marker-alt me-3"></i>
                <span class="text-light lh-lg">
                  sousse msaken 4015
                  <br/>
                  Tunisie
                </span>
              </p>
              <div class="mt-6">
                <a href="#!">
                  <img class="me-3" src="{{ asset('deseign1/img/icons/facebook.svg') }}" alt="..." />
                </a>
                <a href="#!">
                  <img class="me-3" src="{{ asset('deseign1/img/icons/twitter.svg') }}" alt="..." />
                </a>
                <a href="#!">
                  <img class="me-3" src="{{ asset('deseign1/img/icons/instagram.svg') }}" alt="..." />
                </a>
              </div>
 
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}