{% extends 'base.html.twig' %}

{% block title %}Vol{% endblock %}

{% block body %}
{% include 'navbar/navbarAgence.html.twig' %}

    <h1>Vol</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vol.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ vol.date ? vol.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>HeurDepart</th>
                <td>{{ vol.heurDepart ? vol.heurDepart|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HeurArrive</th>
                <td>{{ vol.heurArrive ? vol.heurArrive|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vol_index') }}">back to list</a>

    <a href="{{ path('app_vol_edit', {'id': vol.id}) }}">edit</a>

    {{ include('vol/_delete_form.html.twig') }}
{% endblock %}
