{% extends 'base.html.twig' %}

{% block title %}Vol{% endblock %}

{% block body %}
    <h1>Vol</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vol.id }}</td>
            </tr>
            <tr>
                <th>Num</th>
                <td>{{ vol.num }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ vol.date ? vol.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HeureDepart</th>
                <td>{{ vol.heureDepart ? vol.heureDepart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HeureArrivee</th>
                <td>{{ vol.heureArrivee ? vol.heureArrivee|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vol_index') }}">back to list</a>

    <a href="{{ path('app_vol_edit', {'id': vol.id}) }}">edit</a>

    {{ include('vol/_delete_form.html.twig') }}
{% endblock %}
